<div class='row'>
	<div class='col-md-12'>
		<h1>Edit Log</h1>
		<form role='form'>
			<div class='form-group'>
				<label>Activity</label>
				<input type='text' placeholder='Project Name' class='form-control'>
			</div>
			<div class='form-group'>
				<label>Notes</label>
				<textarea class='form-control'></textarea>
			</div>
		</form>
		<div class='row timer-group'>
			<div class='col-md-12'>
				<div class='col-md-5 timer-control'><h2>03:12:00</h2></div>
				<div class='col-md-5 pull-right timer-control'><h2>07:12:00</h2></div>
			</div>
		</div>
		<button class='btn btn-success'>Save Task</button>
		<button class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span></button>
	</div>
</div>