<div class='row'>
	<div class='col-md-12'>
		<h1>Edit Project</h1>
		<form role='form' ng-submit='updateProject(projects)'>
			<div class='form-group'>
				<label>Name</label>
				<input type='text' class='form-control' ng-model='projects.name'>
			</div>
			<div class='form-group'>
				<label>Description</label>
				<textarea class='form-control' ng-model='projects.description'></textarea>
			</div>
			<div class='form-group'>
				<label>Client</label>
				<input class='form-control' type='text' ng-model='projects.client'>
			</div>
			<div class="form-group">
				<label>Deadline</label>
			  	<input class='form-control' type="text" ng-model='projects.due'>
			</div>
			<button class='btn btn-success'>Save Project</button>
			<button class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span></button>
		</form>
	</div>
</div>