<div class='row'>
	<div class='col-md-12'>
		<h1>New Project</h1>
		<form role='form' ng-submit='saveProject(formData)'>
			<div class='form-group'>
				<label>Name</label>
				<input type='text' placeholder='Project Name' class='form-control' ng-model='formData.name'>
			</div>
			<div class='form-group'>
				<label>Description</label>
				<textarea class='form-control' placeholder='Write a description about your project' ng-model='formData.description'></textarea>
			</div>
			<div class='form-group'>
				<label>Client</label>
				<input class='form-control' type='text' placeholder='Client Name' ng-model='formData.client'>
			</div>
			<div class="form-group">
				<label>Deadline</label>
			  	<input class='form-control' type="text" placeholder='2013-12-20' ng-model='formData.due'>
			</div>
			<button type='submit' class='btn btn-success'>Save Project</button>
			<button class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span></button>
		</form>
	</div>
</div>